@import './reset.css';

body {
  font-family: 'Roboto', sans-serif;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: microsan_A;
  src: url('./MIASWFTE.TTF');
}
