@import './reset.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: lightgrey;
  color: black;
}
