@import './reset.css';

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: microsan_A;
  src: url('./font/MIASWFTE.TTF');
}
@font-face {
  font-family: Tertiary Writting Font;
  src: url('./font/Tertiary_Writing_font.ttf');
}
@font-face {
  font-family: Didno;
  src: url('./font/Didno.ttf');
}
@font-face {
  font-family: NotoSans-Regular;
  src: url('./font/NotoSans-Regular.ttf');
}
