body {
  overflow-y: scroll;
  /*POUR VOIR LE SCROLL A DROITE*/
  overflow-x: hidden;
}

:root,
body,
html {
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  text-align: center;

  /*LES PROPRIETES WIDTH SERONT POUR LES BORDURES AVEC LES PADDINGS INCLUS*/
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
header,
img,
label,
li,
nav,
p,
small,
span,
ul {
  /*SUR LES ELTS QUI SERONT MODIFIER*/
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  font-family: 'Roboto', sans-serif;
}

#root {
  width: 100%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: microsan_A;
  src: url('./MIASWFTE.TTF');
}
